@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
main{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}
#links{
    position: absolute;
}
#links ul{
    margin: 10px;
    list-style-type:  none;
}  
#links li{
    margin-bottom: 15px;
}
#links img{
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    transition-duration: 1s;
    
}
#links img:hover{
    border-color:white;
    border-radius: 50%;
    box-shadow: 7px 5px 7px  rgba(0, 0, 0, 0.702);
    position: relative;
    top: -5px;
    left: -5px;
}

.pag{
    width: 50px;
    height: 50px;
    padding-bottom: -10px;
    border-radius: 50%;
}
#fone{
    display: flex;
    margin: auto;    
    justify-content: center;
    align-items: center;
    
}
img{
    height: 536px;
    width: 265px;
}
iframe{
    position: absolute;
    border: none;
    margin-bottom: -5px;
    height: 405px;
    width: 230px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.214);
}
